$back-gradient: rgba(0, 0, 0, .35);
$body-text: #555;
$budget-text: #fff;
$income: #28B9B5;
$expenses: #FF5049;

body {
  color: $body-text;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  height: 100vh;
  position: relative;
}

.top {
  background-image: linear-gradient($back-gradient, $back-gradient), url('../img/back.png');
  background-position: center;
  background-size: cover;
}

.budget {
  color: $budget-text;
  width: 350px;
}

.budget-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.budget-title-month {}

.budget-value {
  font-size: 46px;
  margin-bottom: 25px;
}

.budget-expenses,
.budget-income {
  // padding: 12px;
  text-transform: uppercase;
}

.budget-income {
  // margin-bottom: 10px;
  background-color: $income;
}

.budget-expenses-text,
.budget-income-text {
  text-align: left;
}

.budget-income-value {}

.budget-income-percentage {}

.budget-expenses {
  background-color: $expenses;
}

.budget-expenses-text {}

.budget-expenses-value {}

.budget-expenses-percentage {}

.bottom {}

// ADD

.add {
  background-color: #f7f7f7;
  border-bottom: 1px solid #e7e7e7;
  padding: 14px;
}

.add-container {
  margin: 0 auto;
  text-align: center;
}

.add-type {
  background-color: #fff;
  border: 1px solid #e7e7e7;
  color: inherit;
  font-size: 18px;
  font-weight: 300;
  height: 44px;
  margin-right: 10px;
  transition: border 0.3s;
  width: 55px;
}



.add-description,
.add-value {
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  height: 44px;
  margin-right: 10px;
  padding: 12px 15px;
  transition: border 0.3s;
}

.add-description {
  width: 400px;
}

.add-value {
  width: 100px;
}

.add-btn {
  background: none;
  border: none;
  color: $income;
  cursor: pointer;
  display: inline-block;
  font-size: 35px;
  line-height: 1.1;
  margin-left: 10px;
  vertical-align: middle;
}

.add-btn:active {
  transform: translateY(2px);
}

.add-description:focus,
.add-type:focus,
.add-value:focus {
  border: 1px solid $income;
  outline: none;
}

.add-btn:focus {
  outline: none;
}

// LISTS

.lists {
  margin: 60px auto;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
  text-transform: uppercase;
}


.income-title {
  color: $income;
}

.income-list {}

.expenses {
  color: $expenses;
}

.item {
  padding: 13px;
  border-bottom: 1px solid #e7e7e7;
}

.item:first-child {
  border-top: 1px solid #e7e7e7;
}

.item:nth-child(even) {
  background-color: #f7f7f7;
}

.item-description {
  float: left;
}

.item-value {
  float: left;
  transition: transform 0.3s;
}

.item-percentage {
  float: left;
  margin-left: 20px;
  transition: transform 0.3s;
  font-size: 11px;
  background-color: #FFDAD9;
  padding: 3px;
  border-radius: 3px;
  width: 32px;
  text-align: center;
}

.income .item-delete-btn,
.income .item-value {
  color: #28B9B5;
}

.expenses .item-delete-btn,
.expenses .item-percentage,
.expenses .item-value {
  color: #FF5049;
}

.item-delete {
  float: left;
}

.item-delete-btn {
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  display: none;
}

.item-delete-btn:focus {
  outline: none;
}

.item-delete-btn:active {
  transform: translateY(2px);
}

.item:hover .item-delete-btn {
  display: block;
}

.item:hover .item-value {
  transform: translateX(-20px);
}

.item:hover .item-percentage {
  transform: translateX(-20px);
}

.unpaid {
  background-color: #FFDAD9 !important;
  cursor: pointer;
  color: #FF5049;
}

.unpaid .item-percentage {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}

.unpaid:hover .item-description {
  font-weight: 900;
}
